@model Hafazah.Model.Entities.Program.Phase

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path.Name)
        </dd>

        <dt>
            @Html.Display("PhaseNumber")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPageNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurahFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurahFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurahTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurahTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuranicVerseFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuranicVerseFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuranicVerseTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuranicVerseTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxNumberOfExcuses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNumberOfExcuses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
