@model Hafazah.Model.Entities.Program.Phase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Phase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path.Name)
        </dd>

        <dt>
            @Html.DisplayName("PhaseNumber")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhaseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPageNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurahFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurahFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurahTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurahTo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.MaxNumberOfExcuses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNumberOfExcuses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
