@model IEnumerable<Hafazah.Model.Entities.Program.Phase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("PhaseNumber")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhaseNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPageNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurahFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurahTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumberOfExcuses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Path.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhaseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPageNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurahFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurahTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumberOfExcuses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
