@model IEnumerable<Hafazah.Model.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*    @Html.ActionLink("Create New", "Create")*@

@if (ViewBag.IsAdmin)
{
    <h2>Members</h2>
    if (ViewBag.IsRegistrationOpen)
    {
        <label>The Registration status is On Do you want to set it off ?</label>
        <input type="button" class="btn btn-danger btn-sm"  value="Set it Off" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }
    else
    {
        <label>The Registration status is Off Do you want to set it off ?</label>
        <input type="button" class="btn btn-success btn-sm"  value="Set it On" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }

    <hr />

    using (Html.BeginForm("Index", "Members", FormMethod.Get))
    {
        <text> Show Members Whom </text> @Html.DropDownList("filterMembers", new SelectList(ViewBag.MembersDDLFilter))
        <text> Search in Phone Number </text>
        {@Html.TextBox("phoneNumber", null, new { id = "SearchBox", @class = "SearchBox" })}
    <input type="submit" value="Search" />
}
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayName("Age")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>


        @if (ViewBag.ShowIsActiveColumn)
        {
            <th>
                Approve
            </th>
        }

        @if (!ViewBag.ShowIsActiveColumn)
        {
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        }
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            @if (!ViewBag.ShowIsActiveColumn)
            {

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            }
            @if (ViewBag.ShowIsActiveColumn)
            {
                <td>
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @style = "color:green" })
                    @*|@Html.ActionLink("Decline", "Decline", new { id = item.Id }, new { @style = "color:red" })*@
                </td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

}


