@model IEnumerable<Hafazah.Model.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*    @Html.ActionLink("Create New", "Create")*@

@if (ViewBag.IsAdmin)
{
    <h2>@Resources.GetResource.T("Dashboard")</h2>
    if (ViewBag.IsRegistrationOpen)
    {
        <label>
            @Resources.GetResource.T("RegistrationStatusOn")
        </label>
        <input type="button" class="btn btn-danger " value="@Resources.GetResource.T("Deactivate")" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }
    else
    {
        <label>
            @Resources.GetResource.T("RegistrationStatusOff")
        </label>
        <input type="button" class="btn btn-success" value="@Resources.GetResource.T("Active")" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }

    <br />
    <br />

    <div class="form-group-sm" style="text-align:end">
        <label>
            @Resources.GetResource.T("CurrentWaveNumber")
        </label>
        <input id="waveNumberInput" type="text" value="@(ViewBag.WaveNumber ?? String.Empty)" >
        <input type="button" class="btn btn-warning" value="@Resources.GetResource.T("Edit")" onclick="updateWaveNumber()"  />

    </div>
    <hr />

    using (Html.BeginForm("Index", "Members", FormMethod.Get))
    {
        <text>@Resources.GetResource.T("ShowMembers") </text> @Html.DropDownList("filterMembers", new SelectList(ViewBag.MembersDDLFilter), new { id = "ddl", @class = "form-control" })
        <text>@Resources.GetResource.T("SearchPhoneNumber")</text>
        {
            @Html.TextBox("phoneNumber", null, new { id = "SearchBox", @class = "form-control" })
        }
        <br />
        <input class="btn btn-info" type="submit" value="@Resources.GetResource.T("Search")" />
    }
    <br />
    <br />

    <table class="table table-striped" style="text-align:inherit">
        <tr>
            <th>
                @Html.DisplayName(@Resources.GetResource.T("WaveNumber"))
            </th>
            <th>
                @Html.DisplayName(@Resources.GetResource.T("FirstName"))
            </th>
            <th>
                @Html.DisplayName(@Resources.GetResource.T("LastName"))
            </th>

            <th>
                @Html.DisplayName(@Resources.GetResource.T("Age"))
            </th>

            <th>
                @Html.DisplayName(@Resources.GetResource.T("PhoneNumber"))
            </th>


            @if (ViewBag.ShowIsActiveColumn == true)
            {
                <th>
                    @Resources.GetResource.T("Approve")
                </th>
            }

            @if (ViewBag.ShowIsActiveColumn == false)
            {
                <th>
                    @Resources.GetResource.T("IsActive")
                </th>
            }
            <th>
                @Resources.GetResource.T("Actions")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.WaveNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                @if (!ViewBag.ShowIsActiveColumn)
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                }
                @if (ViewBag.ShowIsActiveColumn)
                {
                    <td>
                        @Html.ActionLink(@Resources.GetResource.T("Approve"), "Approve", new { id = item.Id }, new { @style = "color:green" })
                        @*|@Html.ActionLink("Decline", "Decline", new { id = item.Id }, new { @style = "color:red" })*@
                    </td>
                }
                <td>
                    @Html.ActionLink(@Resources.GetResource.T("Edit"), "Edit", new { id = item.Id }) |
                    @Html.ActionLink(@Resources.GetResource.T("Details"), "Details", new { id = item.Id }) |
                    @Html.ActionLink(@Resources.GetResource.T("Delete"), "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}

<script type="text/javascript">

    function updateWaveNumber() {
        var e = document.getElementById("waveNumberInput");
        var waveNumber= e.value;
        if (waveNumber.length > 0) {
             $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateWaveNumber", "Members")',
                 data: JSON.stringify({ "waveNumber": waveNumber }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r == true) {
                        $("#lblWaveNumber").show();
                    }
                    setTimeout(function () {
                        $("#lblWaveNumber").hide();
                    }, 2000);
                }
            });
        }

    }

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
