@model IEnumerable<Hafazah.Model.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*    @Html.ActionLink("Create New", "Create")*@


@if (ViewBag.IsAdmin)
{
    <h2>Members</h2>
    if (ViewBag.IsRegistraionOpen)
    {
        <label>The Registration status is On Do you want to set it off ?</label>
        <input type="button" class="btn btn-danger btn-sm" style="background-color:red" value="Set it Off" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }
    else
    {
        <label>The Registration status is Off Do you want to set it off ?</label>
        <input type="button" class="btn btn-danger btn-sm" style="background-color:green" value="Set it On" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }
    <br />
    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Approve / Decline
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td>
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @style = "color:green" }) |
                    @Html.ActionLink("Decline", "Decline", new { id = item.Id }, new { @style = "color:red" })
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}


