@model IEnumerable<Hafazah.Model.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*    @Html.ActionLink("Create New", "Create")*@

@if (ViewBag.IsAdmin)
{
    <h2>@Resources.GetResource.T("Dashboard")</h2>
    if (ViewBag.IsRegistrationOpen)
    {
        <label>
            @Resources.GetResource.T("RegistrationStatusOn")
        </label>
        <input type="button" class="btn btn-danger btn-sm" value="  @Resources.GetResource.T("Deactivate")" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }
    else
    {
        <label>
            @Resources.GetResource.T("RegistrationStatusOff")
        </label>
        <input type="button" class="btn btn-success btn-sm" value=" @Resources.GetResource.T("Active")" onclick="location.href='@Url.Action("ChangeRegistrationStatus", "Members")'" />
    }

    <hr />

    using (Html.BeginForm("Index", "Members", FormMethod.Get))
    {
        <text>    @Resources.GetResource.T("ShowMembers") </text> @Html.DropDownList("filterMembers", new SelectList(ViewBag.MembersDDLFilter))
        <text>   @Resources.GetResource.T("SearchPhoneNumber")</text>
        {@Html.TextBox("phoneNumber", null, new { id = "SearchBox", @class = "SearchBox" })}
    <input class="btn btn-info" type="submit" value="@Resources.GetResource.T("Search")" />
}
<br />
<br />

<table class="table table-striped"  style="text-align:inherit">
    <tr>
        <th>
            @Html.DisplayName(@Resources.GetResource.T("FirstName"))
        </th>
        <th>
            @Html.DisplayName(@Resources.GetResource.T("LastName"))
        </th>

        <th>
            @Html.DisplayName(@Resources.GetResource.T("Age"))
        </th>

        <th>
            @Html.DisplayName(@Resources.GetResource.T("PhoneNumber"))
        </th>


        @if (ViewBag.ShowIsActiveColumn == true)
        {
            <th>
                @Resources.GetResource.T("Approve")
            </th>
        }

        @if (ViewBag.ShowIsActiveColumn == false)
        {
            <th>
                @Resources.GetResource.T("IsActive")
            </th>
        }
        <th>
            @Resources.GetResource.T("Actions")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            @if (!ViewBag.ShowIsActiveColumn)
            {

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            }
            @if (ViewBag.ShowIsActiveColumn)
            {
                <td>
                    @Html.ActionLink("Approve", "Approve", new { id = item.Id }, new { @style = "color:green" })
                    @*|@Html.ActionLink("Decline", "Decline", new { id = item.Id }, new { @style = "color:red" })*@
                </td>
            }
            <td>
                @Html.ActionLink(@Resources.GetResource.T("Edit"), "Edit", new { id = item.Id }) |
                @Html.ActionLink(@Resources.GetResource.T("Details"), "Details", new { id = item.Id }) |
                @Html.ActionLink(@Resources.GetResource.T("Delete"), "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

}


