@model Hafazah.Model.Entities.Program.PhaseHomework

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhaseHomework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phase.SurahFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phase.SurahFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredMemorizedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredMemorizedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequiredMemorizedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequiredMemorizedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbilityConnectFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbilityConnectFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbilityConnectTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbilityConnectTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewTo)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
