<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Hafazah
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>

<body>

    @if (@Resources.GetResource.GetLang() == "ar")
    {
        <div style="background-color: #266d13;" class="navbar navbar-inverse navbar-fixed-top">
            <div>
                <div>
                    <a class="navbar-brand" href="~/" style="padding-right: 100px;float: right;">
                        <span class="glyphicon glyphicon-home">
                            <label style="font-family: auto;">@Resources.GetResource.T("Home")</label>
                        </span>
                    </a>
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>

        <div class="container body-content" dir="rtl" lang="ar">
            @RenderBody()
            <hr />
            <footer>
                @*<p>&copy; @DateTime.Now.Year - Powered By Unk </p>*@
            </footer>
        </div>

        <div class="alert alert-warning text-center" role="alert">
            <label> تنويه: اللغة العربية قيد التطوير من المتوقع مواجهة بعض المشاكل</label> 
        </div>

    }
    else
    {
        <div style="background-color: #266d13; " class="navbar navbar-inverse navbar-fixed-top">
            <div>
                <div>
                    <a class="navbar-brand" href="~/" style="padding-left: 100px;">
                        <span class="glyphicon glyphicon-home">
                            <label style="font-family: auto;">@Resources.GetResource.T("Home")</label>
                        </span>
                    </a>
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                @*<p>&copy; @DateTime.Now.Year - Powered By Unk </p>*@
            </footer>
        </div>
    }




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
