
@{
    ViewBag.Title = "Index";
}
<h2>@Resources.GetResource.T("Settings") </h2>
<hr />


<h4>@Resources.GetResource.T("UserSettings") </h4>
@Html.ActionLink(@Resources.GetResource.T("ChangePassword"), "Index", "Manage", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink(@Resources.GetResource.T("ManageSheikhsMemberships") , "Index", "Instructors", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink(@Resources.GetResource.T("AddNewStudent") , "Create", "Members", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

<hr />


<h4>@Resources.GetResource.T("RegistrationSettings") </h4>
@Html.ActionLink(@Resources.GetResource.T("ManageCountriesOptions") , "Index", "Countries", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink(@Resources.GetResource.T("ManageEducationLevelsOptions") , "Index", "EducationLevels", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink(@Resources.GetResource.T("ManageQuranMemorizedsOptions") , "Index", "QuranMemorizeds", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />
<hr />

<h4>@Resources.GetResource.T("ProgramSettings")</h4>
@Html.ActionLink(@Resources.GetResource.T("ManagePaths") , "Index", "Paths", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink(@Resources.GetResource.T("ManageLevels") , "Index", "Levels", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />


@Html.ActionLink(@Resources.GetResource.T("ManagePhases") , "Index", "Phases", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />








@*<a style="font-size:large;color:#337ab7" >Add New Insurance </a>
    <br />
    <a style="font-size:large;color:#337ab7">Add New Invoice Template </a>
    <br />
    <a style="font-size:large;color:#337ab7">Add New Vacation Template </a>*@


