
@{
    ViewBag.Title = "Index";
}
<h2>Control Panel.</h2>
<h4>Change your website settings</h4>
<hr />



@Html.ActionLink("Change Password", "Index", "Manage", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />


@Html.ActionLink("Manage Countries Options", "Index", "Countries", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Manage Education Levels Options", "Index", "EducationLevels", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Manage Level Names Options", "Index", "LevelNames", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Manage Quran Memorizeds Options", "Index", "QuranMemorizeds", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Manage Paths", "Index", "Paths", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Manage Level", "Index", "Levels", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />

@Html.ActionLink("Manage Phases", "Index", "Levels", routeValues: null, htmlAttributes: new { @Style = "font-size:large;color:#337ab7" })
<br />







@*<a style="font-size:large;color:#337ab7" >Add New Insurance </a>
    <br />
    <a style="font-size:large;color:#337ab7">Add New Invoice Template </a>
    <br />
    <a style="font-size:large;color:#337ab7">Add New Vacation Template </a>*@


